In [31]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
# Lectura del dataset usando como index la primera columna
df = pd.read_csv('properatti_clean.csv', index_col=0)

In [33]:
df.head()
df.shape

,barrio,tipo,geonames_id,lat,lon,precio,sup_total,sup_cub,precio_m2,floor,rooms,expenses,description,title,sup_desc
2,Mataderos,apartment,3430787.0,-34.652262,-58.522982,72000.0,55.0,55.0,1309.090909,NaN,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,0.0
7,Belgrano,apartment,3436077.0,-34.559873,-58.443362,138000.0,45.0,40.0,3066.666667,NaN,NaN,NaN,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,5.0
8,Belgrano,apartment,3436077.0,-34.559873,-58.443362,195000.0,65.0,60.0,3000.000000,NaN,NaN,NaN,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",5.0
13,Palermo Soho,apartment,3430234.0,NaN,NaN,111700.0,50.0,30.0,2234.000000,NaN,1.0,NaN,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo,20.0
14,Palermo Soho,apartment,3430234.0,NaN,NaN,147900.0,42.0,31.0,3521.428571,NaN,1.0,NaN,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo,11.0

(23777, 15)

In [43]:
descriptions = df.description
descriptions.head()

2     2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
7     EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...
8     EXCELENTE DOS AMBIENTES  ESTRENAR AMPLIO SUPER...
13     Torre I Mondrian. 3 ambientes con terraza y d...
14    Torre II Dalí. Ambiente unico divisible.Vitrau...
Name: description, dtype: object

In [48]:
words = {}
for des in descriptions:
    texto = des.split()
    for word in texto:
        word = word.lower()
        if word in words:
            words[word] += 1
        else:
            words[word] = 1

In [58]:
list_words = [(k,v) for k,v in words.items()]
sorted_words = sorted(list_words, key=lambda x: x[1], reverse=True)
sorted_words = [ (x, y) for x,y in sorted_words if y>2400]
sorted_words[15:]

[('un', 15765),
 ('2', 14393),
 ('ambientes', 12820),
 ('baño', 12540),
 ('departamento', 12064),
 ('se', 11692),
 ('que', 11672),
 ('piso', 10899),
 ('edificio', 10812),
 ('3', 10768),
 ('muy', 10313),
 ('una', 9940),
 ('o', 9795),
 ('pisos', 9172),
 ('av.', 8738),
 ('comedor', 8310),
 ('living', 7871),
 ('balcón', 7554),
 ('excelente', 7402),
 ('son', 7336),
 ('dos', 7092),
 ('es', 6869),
 ('x', 6845),
 ('1', 6698),
 ('frente', 6664),
 ('venta', 6629),
 ('4', 6548),
 ('unidades', 6488),
 ('dormitorio', 6213),
 ('cuadras', 5617),
 ('apto', 5574),
 ('amplio', 5330),
 ('no', 5118),
 ('dormitorios', 5107),
 ('cuenta', 5086),
 ('m2', 4958),
 ('completo', 4896),
 ('gran', 4735),
 ('ubicado', 4565),
 ('medidas', 4431),
 ('san', 4386),
 ('aire', 4378),
 ('vista', 4302),
 ('$', 4232),
 ('metros', 4181),
 ('lavadero', 4136),
 ('acceso', 4128),
 ('su', 4101),
 ('zona', 4081),
 ('cucicba', 4074),
 (',', 4065),
 ('salida', 4039),
 ('propiedades', 4028),
 ('expensas', 4015),
 ('subte', 4007),
 ('cocheras', 3978),
 ('cochera', 3975),
 ('terraza', 3839),
 ('placard', 3812),
 ('barrio', 3736),
 ('sobre', 3673),
 ('planta', 3597),
 ('todos', 3580),
 ('como', 3574),
 ('/', 3518),
 ('cuotas', 3488),
 ('corredor', 3473),
 ('hall', 3437),
 ('agua', 3437),
 ('ambiente', 3428),
 ('sin', 3409),
 ('mesada', 3330),
 ('este', 3315),
 ('espacio', 3303),
 ('?', 3173),
 ('caliente', 3108),
 ('doble', 3099),
 ('baños', 3027),
 ('seguridad', 3018),
 ('muebles', 2995),
 ('.', 2966),
 ('responsable:', 2961),
 ('departamentos', 2934),
 ('desde', 2918),
 ('bajo', 2895),
 ('parrilla', 2895),
 ('todo', 2883),
 ('principal', 2832),
 ('suite', 2829),
 ('ubicación', 2805),
 ('unidad', 2796),
 ('cuadra', 2773),
 ('primera', 2747),
 ('esta', 2727),
 ('entre', 2719),
 ('capital', 2648),
 ('servicio', 2644),
 ('#', 2631),
 ('id', 2613),
 ('mls', 2611),
 ('parque', 2579),
 ('luminoso', 2559),
 ('balcon', 2501),
 ('15', 2473),
 ('y/o', 2471),
 ('tiene', 2458),
 ('entrada', 2451),
 ('propiedad', 2450),
 ('acondicionado', 2446),
 ('24', 2433),
 ('toilette', 2424)]

In [ ]:
# Diseñar regex para detectar palabras seleccionadas relevantes y luego unstack por esas para generar 
# dummy variables para la regresion